[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
requests-cache = "*"
jupyterlab = "*"
"pypdf2" = "*"
requests-html = "*"
numpy = "*"
matplotlib = "*"
pandas = "*"


[dev-packages]

